*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* regole .container */

.container{
    width: 80%;
    margin: 25px auto;
}

/* fine regole .container */

/* regole header.page */

header.page{
    width: 100%;
    margin-bottom: 30px;
}

.logo{
    height:80px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
    margin-bottom: 25px;
}

nav>ul li{
    list-style-type: none;
    display: inline-block;
}

nav li>a{
    text-decoration: none;
    color: grey;
    font-size: large;
    display: block;
    padding: 15px 0;
    margin-right: 10px;
}

/* fine regole header.page */



/* regole hero */

section.hero{
    width: 100%;
    height: 540px;
    margin-bottom: 30px;
    position: relative;
}

.hero>img{
    width: 100%;
    height: 540px;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(80%)
}

.hero>div{
    color: white;
    position: absolute;
    left: 50px;
    bottom: 75px;
    width: 50%;
}

.hero span{
    font-size: 32px;
}

.hero p{
    font-size: 18px;
}

/* fine regole hero */


/* regole main */

main{
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

main::after{
    content: "";
    display: table;
    clear: both;
}

header.contents{
    margin-bottom: 25px;
    padding: 15px 0;
}

header.contents h1{
    font-size: 40px;
}

header.contents span{
    font-size: 18px;
    color: gray;
}

main>aside{
    float: left;
    width: 20%;
}

main>.center{
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    width: calc(60% - 40px);
}

main img{
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(80%)
}

main .titoloArticolo{
    font-size: 20px;
    margin-top: 12px;
}

main p{
    font-size: 18px;
    margin-top: 10px;
    color: gray;
}

/* fine regole main */


/* regole footer */

footer{
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
}

footer>span{
    color: red;
    font-size: 30px;
}

/* fine regole footer */